<div class="container">
  <div class="row">
    <form (submit)="addCoin()">
      <fieldset>
        <div class="form-group">
          <label for="exampleInputEmail1">Input Coin:</label>
          <input [(ngModel)]="currentCoin" name="currentCoin" class="form-control" id="inputCoin" placeholder="Enter coin" type="text">
        </div>
      </fieldset>
      <button class="btn btn-success" type="submit">Add coin</button>
    </form>
  </div>
<br>
  <div class="row">
    <ul class="list-group">
      <li *ngFor="let coin of coins" class="list-group-item list-group-item-action">{{coin[0].name}} {{coin[0].symbol}}</li>
    </ul>
  </div>

</div>
